@charset "utf-8";

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(4,3,60,1) 14%, rgba(5,5,79,1) 25%, rgba(7,7,101,1) 38%, rgba(8,8,109,1) 43%, rgba(8,8,114,1) 46%, rgba(9,9,121,1) 50%, rgba(0,212,255,1) 100%);
}

.toggleBg {
    background: rgb(18, 8, 211); 
}

section {
    border: 1px solid #ffffff;
}

.LittleImage {
    height: 95%;
    width: 95%;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    transition: 0.5s;
}

.DisplayBigImage {
    display: block;
}

.BigLightBox {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 105%;
    width: 100%;
    z-index: 100;
    background-color: rgba(46, 46, 46, 0.9);
}

.BIGme2 {
    height: 80%;
    z-index: 100;
}

.Slideshow {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.Slides {
    top: 5%;
    z-index: 5;
    margin: 0 auto;
    display: block;
    position: absolute;
    top: 0;
    left: 18px;
    width: 92%;
    height: 100%;

}

.slide-right {
    z-index: 10;
    background-color: #000000;
    color: #fff;
    border: 0;
}

.slide-left {
    z-index: 10;
    background-color: #000000;
    color: #fff;
    justify-content: left;
    border: 0;
}

.Lightbox {
    padding-bottom: 5px; 
}

.sec3 {
    background-color: #302e2e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 
.ColorRed {
    background-color: #eb1f1f;
}

.ColorBlue {
    background-color: #1307b4;
}

.ColorBack {
    background-color: #302e2e;
}
*/

.sec4 {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.sec4 button {
    height: 100px;
    width: 200px;
    font-size: 50px;
    border-radius: 10px;
    background-color: rgb(204, 3, 3);
}

.ClickText {
    display: flex;
    justify-content: baseline;
    color: white;
}

/*
.sec5 {
    background-color: #cccf00;
}

.sec6 {
    background-color: #1e01c5;
} */

.slide-right:hover {
    background-color: #585858;
}

.slide-left:hover {
    background-color: #585858;
}